$small-screens: 900px;
$tablets: 650px;
$phones: 420px;
$narrow-phones: 360px;

@mixin for-phone {
    @media (max-width: $phones) {
        @content;
    }
}

@mixin for-tablet {
    @media (max-width: $tablets) {
        @content;
    }
}

@mixin for-small-screens {
    @media (max-width: $small-screens) {
        @content;
    }
}

@mixin for-narrow-phones {
    @media (max-width: $narrow-phones) {
        @content;
    }
}
