$primaryColor: #263444;
$primaryDarkerColor: #151d25;

$secondaryColor: #3d546e;
$secondaryDarkerColor: #222e3c;

$white-font-text: #f2f2f2;
$white-font-text60: rgb(242, 242, 242, 0.6);

$default-background-color-dark: rgba(0, 0, 0, 0.25);
$default-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);

$red-color: #dd4a34;
$green-color: #4caf50;
$warning-color: #f59e0b;
$blue-color: #7dd3fc;

$ats-color: #d32f2f;
$ets2-color: #fbc02d;

$game-info-bar-height: var(--top-bar-height);

$expanded-sheet-height: 215px;
$collapsed-sheet-height: 90px;
$notification-height: 20px;
