# Rust
backend/target/
debug/
release/

# Nuxt / Nitro
.output
.data
.nuxt
.nitro
.cache
dist
.pnpm-debug.log*

# Node dependencies
node_modules
jspm_packages
typings

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Electron
electron/dist
electron/build
electron/node_modules

# OS
.DS_Store
Thumbs.db
*.swp

# IDEs
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Local env files
.env
.env.*
!.env.example

# Project Specific
telemetry/native/scs-trucknav-plugin/vendor/
public/debug-roadnetwork/
# public/data/ # Uncomment if map data is too large to commit
