//
//
//
// =====> STYLING <======
.notification-container {
    position: absolute;
    top: calc($game-info-bar-height + 15px);
    left: 0;
    width: 100%;

    display: flex;
    justify-content: center;
    pointer-events: none;
    z-index: 50;

    &.is-web {
        @media (orientation: portrait) {
            top: calc($game-info-bar-height + env(safe-area-inset-top) + 15px);
        }
    }

    @media (orientation: portrait) {
        top: calc($game-info-bar-height + env(safe-area-inset-top));
    }
}

.notification-wrapper {
    width: 210px;

    border: 2px solid $secondaryColor;
    border-radius: 8px;

    background-color: $primaryColor;
    padding: 6px 12px;
    color: $white-font-text;
    font-size: 1.6rem;

    height: 42px;
    display: flex;
    align-items: center;
}

.content-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.8rem;
}

.notification-icon {
    &.found {
        color: $green-color;
    }

    &.failed {
        color: $red-color;
    }

    &.loading {
        color: var(--theme-color);
    }
}

//
//
//
// ======> TRANSITIONS <======
