.preview {
    display: flex;
    align-items: center;
    justify-content: center;

    width: auto;
    margin-left: 3.2rem;
    margin-right: 3.2rem;

    border-radius: 6px;

    box-shadow: 0px 0px 16px 0px inset rgba($color: #000000, $alpha: 0.2);

    background-color: $default-background-color-dark;

    @include for-narrow-phones {
        margin-left: 0.8rem;
        margin-right: 0.8rem;
    }

    .icon {
        width: var(--hud-btn-size);
        height: var(--hud-btn-size);
    }
}
