.game-information {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc($game-info-bar-height);
    color: $white-font-text;

    padding: 8px 10px 8px 0px;

    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-bottom: 3px solid $secondaryColor;

    background-color: $primaryColor;

    &.is-native {
        @media (orientation: portrait) {
            height: calc($game-info-bar-height);
        }
    }
}

.gas-sleep-time {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    margin-left: auto;
}

.gas-sleep {
    display: flex;
    gap: 1rem;
}

.game-time {
    padding: 1px 8px;
    font-weight: 700;
    font-size: 1.5rem;
    min-width: 7.5rem;

    background-color: rgb(21, 29, 37, 0.5);
    border-radius: 8px;
    border-left: 2px solid $secondaryColor;
    border-right: 2px solid $secondaryColor;
}

.fuel-amount {
    display: flex;
    gap: 0.6rem;
    font-size: 1.6rem;

    align-items: center;
    justify-content: center;

    .liters {
        opacity: 0.6;
        margin-left: 3px;
        font-size: 1.5rem;
    }

    .pulse-red {
        animation: pulseRed 2.5s infinite ease-in-out;
    }

    transition: color 0.4s ease;

    @keyframes pulseRed {
        0% {
            color: inherit;
        }

        50% {
            color: $red-color;
        }

        100% {
            color: inherit;
        }
    }
}

.sleep-div {
    display: flex;
    gap: 0.6rem;
    font-size: 1.6rem;
    align-items: center;
    min-width: 7rem;
    text-align: center;

    .sleep-icon {
        font-size: 2rem;

        transition: color 0.4s ease;
    }

    .pulse-blue {
        animation: pulseBlue 2.5s infinite ease-in-out;
    }

    @keyframes pulseBlue {
        0% {
            color: inherit;
        }

        50% {
            color: #226ae0;
        }

        100% {
            color: inherit;
        }
    }
}

.disconnected-div {
    display: flex;
    gap: 0.8rem;
    align-items: center;
    justify-content: center;
    margin-left: auto;

    .disconnected-message {
        font-size: 1.6rem;
        font-weight: 600;
    }

    .disconnected-icon {
        background-color: $red-color;
        opacity: 0.9;
        width: 20px;
        height: 20px;
    }
}
